<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Rock, Paper, Scissors {{2 + 2}}</a>
            </div>

        </div>
    </nav>
</header>

<!-- MAIN CONTENT -->
<div id="main">

    <!-- Choose game mode -->
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">
            <button ng-click="showPVC=true">Player vs Computer</button>
        </div>
        <div class="col-sm-4" style="background-color:lavenderblush;">
            <button ng-click="showCVC=true">Computer vs Computer</button>
        </div>
        <div class="col-sm-4" style="background-color:lavender;">
            <button ng-click="showR=true">Random</button>
        </div>

    </div>
    <!-- Choose game mode end -->


    <div class="row" ng-show="showOptions">
        <div class="col-sm-4" style="background-color:lavender;">Rock</div>
        <div class="col-sm-4" style="background-color:lavenderblush;">Paper</div>
        <div class="col-sm-4" style="background-color:lavender;">Scissors</div>

    </div>
</div>
