<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Rock, Paper, Scissors </a>
                <button ng-click="showPVC=false; showResults=false; showOptions=false; reset()">Reset</button>
            </div>

        </div>
    </nav>
</header>

<!-- MAIN CONTENT -->
<div id="main">

    <!-- Choose game mode -->
    <div class="row">
        <div class="col-sm-4" style="background-color:blue;">
            <button ng-click="showPVC=true; showOptions=true">Player vs Computer</button>
        </div>
        <div class="col-sm-4" style="background-color:red;">
            <button ng-click="showOptions=true; computerMatch(); showResults=true; ">Computer vs Computer</button>
        </div>
        <div class="col-sm-4" style="background-color:green;">
            <button ng-click="setRandomMatch()">Random</button>
        </div>

    </div>
    <!-- Choose game mode end -->

    <!-- Player  -->

    <div class="PVC">
        <div class="row" ng-show="showOptions">
            <div class="col-sm-4" style="background-color:lavender;">
                <img src="/images/home/rockHand.svg">
                <button ng-show="showPVC" class="PVC" ng-click="setChoice1(rock); setChoice2(); showResults=true; match()">Rock</button>
            </div>
            <div class="col-sm-4" style="background-color:lavenderblush;"><img src="/images/home/paperHand.svg">
                <button ng-show="showPVC" class="PVC" ng-click="setChoice1(paper); setChoice2(); showResults=true; match()">Paper</button>
            </div>
            <div class="col-sm-4" style="background-color:lavender;"><img src="/images/home/scissorsHand.svg">
                <button ng-show="showPVC" class="PVC" ng-click="setChoice1(scissors); setChoice2(); showResults=true; match()">Scissors</button>
            </div>

        </div>
    </div>

    <!-- Player end -->

    <!-- Computer end -->





    <!-- Results -->
    <div class="results">
        <div class="row" ng-show="showResults">
            <div class="col-sm-4" style="background-color:lavender;">
                <p>Player one {{lastChoice1}}</p>
            </div>
            <div class="col-sm-4" style="background-color:lavenderblush;">{{result}}
            </div>
            <div class="col-sm-4" style="background-color:lavender;">
                <p>Player two {{lastChoice2}}</p>
            </div>

        </div>

    </div>
    <!-- Results end -->






</div>
