<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10 header">
        <div class="col-sm-1">
            <img class="logo" src="/images/common/header/noun_17078%20(1).svg">
        </div>
        <div class="col-sm-4">
            <h1>SevenOaks</h1>
            <p>
                <br>BUILDING & JOINERY CONTRACTORS LTD</p>
        </div>


    </div>
    <div class="col-sm-1">
    </div>
</div>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">

        <div class="nav-dropdown">
            <a class="nav-dropdown-links" href="/views/home.html">Home</a>
            <a class="nav-dropdown-links" href="/views/projects.html">Projects</a>
            <a class="nav-dropdown-links" href="/views/references.html">References</a>
            <a class="nav-dropdown-links" href="/views/about.html/views/projects.html">About Us</a>
            <a class="nav-dropdown-links" href="/views/contact.html">Contact Us</a>


        </div>
        <div class="col-sm-1">
        </div>
    </div>
